---
import { getCollection, getEntries } from "astro:content";
import { Image } from "astro:assets";
import BaseLayout from "src/layouts/BaseLayout.astro";
import { formatDate } from "@js/utils";
import FeaturedPost from "@components/FeaturedPost.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { post: post.slug },
    props: { post: post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();

const authors = await getEntries(post.data.author);
---

<BaseLayout
  title={post.data.title}
  description={post.body
    .split(" ")
    .slice(0, 20)
    .join(" ")
    .replace(/[#*_\`]/g, "")
    .replace(/\[([^\]]+)\]\([^\)]+\)/g, "$1")
    .trim() + (post.body.split(" ").length > 20 && "...")}
>
  <!-- ============================================ -->
  <!--              Main Blog Content               -->
  <!-- ============================================ -->

  <div class="blog-container main-content-wrapper">
    <!--Main content -->
    <div class="main-content">
      <!-- ============================================ -->
      <!--                  Blog Article                -->
      <!-- ============================================ -->

      <article class="blog-article">
        <!--Main Article Image-->
        {
          post.data.image && (
            <picture class="blog-mainImage">
              <Image
                src={post.data.image}
                alt={post.data.imageAlt ? post.data.imageAlt : post.data.title}
                width={post.data.image.width}
                height={post.data.image.height}
                decoding="async"
              />
            </picture>
          )
        }

        <!--Article Info-->
        <div class="article-group">
          <h1 class="blog-h1">{post.data.title}</h1>
          <div class="blog-authorGroup">
            {
              authors.map((author) => (
                <div>
                  <picture class="blog-author-img">
                    <Image
                      src={
                        author.data.photo
                          ? author.data.photo.src.replace(/^.*\/src\/assets\//, "/src/assets/")
                          : "/assets/svgs/profile.svg"
                      }
                      alt={author.data.name}
                      width="32"
                      height="32"
                      decoding="async"
                    />
                  </picture>
                  <span class="blog-author">{author.data.name}</span>
                </div>
              ))
            }
            <span aria-hidden="true" class="blog-dot"></span>
            <!--Blog Date-->
            <span class="blog-date"
              >{post.data.date && formatDate(post.data.date)}</span
            >
          </div>
        </div>
        <section id="blog-content">
          <Content />
        </section>
      </article>
    </div>
    <FeaturedPost />
  </div>
</BaseLayout>
