---
import BaseLayout from "src/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const details = await getCollection("details");
---

<BaseLayout
  title={details[0].data.name}
  description={details[0].data.description}
>
  <section id="welcome" class="flex flex-col gap-4 mt-32 px-3 text-center">
    <h1 class="font-extralight max-[380px]:text-3xl" id={details[0].data.name}>
      Welcome to <br /><span class="font-bold">{details[0].data.name}</span>
    </h1>
    <div
      class="flex flex-col justify-center items-center gap-8 mx-auto my-8 text-center"
    >
      <h2
        class="max-[394px]:max-w-[190px] font-extralight max-[578px]:text-xl max-[710px]:text-2xl text-3xl italic"
      >
        Your new website awaits you...
      </h2>
    </div>
  </section>

  <section id="contact" class="mt-20 mb-36 w-full">
    <div
      class="flex flex-col justify-center items-center mx-auto my-20 lg:my-12 w-full text-center align-middle"
    >
      <div
        class="flex max-lg:flex-col justify-center items-center gap-x-20 gap-y-16 text-center align-middle"
      >
        <div
          class="flex max-sm:flex-col justify-center items-start gap-x-20 gap-y-16 mx-auto text-center align-middle"
        >
          <div class="flex flex-col gap-1 mx-auto text-center">
            <h2 class="font-light text-black text-xl">Phone</h2>
            <a
              title={details[0].data.phone}
              href={`tel:${details[0].data.phone.replace(/\((\d{3})\)\s(\d{3})-(\d{4})/, "$1-$2-$3")}`}
            >
              {details[0].data.phone}
            </a>
          </div>
          <div class="flex flex-col gap-1 mx-auto text-center">
            <h2 class="font-light text-black text-xl">Email</h2>
            <a
              title={details[0].data.email}
              href={`mailto:${details[0].data.email.toLowerCase()}`}
            >
              {details[0].data.email}
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
