---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import { formatDate } from "@js/utils";

const posts = await getCollection("blog");
const featuredPosts = posts.filter((post) =>
  post.data.tags.includes("featured"),
);
---

<div id="blog-featured-posts">
  <p><strong>Featured Posts</strong></p>
  {
    featuredPosts.map((post) => (
      <a id={post.slug} href={`/blog/${post.slug}`}>
        {post.data.image && (
          <picture>
            <Image
              src={post.data.image}
              alt={post.data.imageAlt ? post.data.imageAlt : post.data.title}
              width={post.data.image.width}
              height={post.data.image.height}
              decoding="async"
            />
          </picture>
        )}
        <div>
          <h3 id={post.data.title}>{post.data.title}</h3>
          {post.data.date && <p>{formatDate(post.data.date)}</p>}
        </div>
      </a>
    ))
  }
</div>
