---
import client from "@data/client.json";
import navData from "@data/navData.json";
import { getCurrentYear } from "@js/utils";

const currentYear = getCurrentYear();
---

<footer id="footer">
  <div id="footer-container" class="bg-stone-200 py-10 px-3 flex flex-wrap">
    <div id="left-section">
      <a href="/">
        <img
          loading="lazy"
          decoding="async"
          src="/assets/svgs/logo-white.svg"
          alt="logo"
          width="264"
          height="78"
        />
      </a>
      <p>
        Extra content if you need it, if not you can delete this whole p tag. I
        usually do.
      </p>
    </div>
    <div id="right-section">
      <div class="flex flex-wrap">
        <ul>
          <li>
            <h2>Information</h2>
          </li>
          {
            navData.map((entry) => (
              <li>
                <a href={entry.url}>{entry.key}</a>
              </li>
            ))
          }
        </ul>
        <ul>
          <li>
            <h2>Services</h2>
          </li>
          <li>Service1</li>
          <li>Service2</li>
          <li>Service4</li>
          <li>Service5</li>
        </ul>
        <ul>
          <li>
            <h2>Contact</h2>
          </li>
          <li>
            <a href={`tel:${client.phoneForTel}`}>
              T:
              {client.phoneFormatted}
            </a>
          </li>
          <li>
            <a href={`mailto:${client.email}`}>{client.email}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div id="footer-credits" class="flex flex-col text-center py-10 px-3">
    <p>Designed and Hand Coded by <a href="https://derek-perry.com" target="_blank" rel="noopener">Derek Perry</a></p>
    <p id="copyright">Copyright {currentYear} - Present</p>
  </div>
</footer>
